* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}
body {
    font-family: Arial, Helvetica, sans-serif
}
ul {
    list-style-type: none;
}
a {
    color:#000000;
}

header {
    padding: 20px 35px;
    background-color: #cc6699;
    
}

header h1 {
    font-weight: lighter;
    font-size: 36px;
    color: #000000;
    margin: 0;
    display: inline;
}

header nav {
    float: right;
    margin: 5px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 24px;
}

.hero {
    background-image: url(../images/lain.jpg);
    height: 300px;
    width:auto;
    background-size: cover;
    background-position: bottom;
    position: ;
}

.hero div h2 {
    color: white;
    font-size: 36px;
    float: right;
}

#about-me {
    display: flex;
    flex-wrap: nowrap;
    background-color: #cc6699;
    justify-content: center;
    align-items: center;
}

#about-me div {
    margin: 70px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

#about-me div h2 {
    padding: 60px 40px;
    border-right: 5px solid black
}

.flex-container-work {
    display: flex;
    flex-wrap: wrap;
    background-color: #cc6699;
}

.flex-container-work h2 {
    display: flex;
    align-self:flex-start;
}

.previews {
    height: 250px;
    width: 550px;
}